@page "/{postId:int}"

@if (Post == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudPaper Elevation="25" Class="py-4 flex-grow-1">
        <MudText Typo="Typo.h2" Color="Color.Dark" Class="mb-4 ml-4">@Post.Title</MudText>
        <MudText Typo="Typo.subtitle1" Color="Color.Dark" Class="mb-4 ml-4">@Post.Summary</MudText>
        <MudText Typo="Typo.subtitle2" Color="Color.Dark" Class="mb-4 ml-4">@($"{Post.CreatedDateTimeUtc:f}")</MudText>
        <MudText Typo="Typo.body1" Color="Color.Dark" Class="mb-4 ml-4">@Post.Content</MudText>
    </MudPaper>
    <CommentFeed PostId="Post.PostId" />
}
